@import "../../../src/theme/theme.scss";

.cardContainer{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    gap: 2%;

    .cardInfo{
        display: flex;
        flex-direction: column;

        .title{
            color: $primary;
        }

        p{
            color: #676573;
        }

    }

    @media (max-width: 425px){
        flex-direction: column;
        max-height: 10rem;
        .cardInfo{
            .title{
                text-align: center;
                padding-top: 1rem;
            }
        }
    }
}