@import "../theme/theme.scss";

.secondSectionContainer{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .secondSection{
        width: 100%;
        height: 20rem;
        background-color: $secondary;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10rem 5rem 20rem 5rem;
        gap: 50px;

        .cardItensContainer{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            flex-wrap: wrap;
            width: 100%;
        }
    }

    .wantToContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 20rem;

        .wantTo{
            width: 70%;
            height: 20rem;
            background-color: $purple-text;
            z-index: 1;
            margin-top: -20rem;
            display: flex;
            align-items: center;
            flex-direction: column;

            .firstCircle{
                display: flex;
                align-items: center;
                justify-content: center;
                align-self: center;
                z-index: 2;
                top: 0;
                margin-top: -1.8rem;
                border-radius: 50%;
                width: 62px;
                height: 62px;
                border: 1px solid $primary;


                .wantToArrow{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 50px;
                    height: 50px;
                    background-color: $primary;
                    border-radius: 50%;
                    z-index: 2;
                }
            }
            
            h2{
                color: $primary;
                text-align: center;
                margin-top: 5rem;
                font-family: 'Quicksand Variable', sans-serif;
                font-weight: 700;
                font-size: 22pt;
            }

            button{
                border: none;
                width: 15%;
                height: auto;
                padding: 1rem 0.4rem;
                cursor: pointer;
                background-color: $primary;
                color: $purple-text;
                font-family: 'Quicksand Variable', sans-serif;
                font-weight: 700;
                margin-top: 4rem;
                border-radius: 10px;
                transition: all ease 0.7s;

                &:hover{
                    background-color: $secondary;
                    color: $primary;
                }
            }
        }
    }
}

.aboutMe{
    display: flex;
    flex-direction: column;
    padding: 0 7rem;
    width: 100%;
    background: radial-gradient(circle at 70% 90%, #bebcf8 30%, #c4d1ff 35%, white 47%, transparent 100%);


    h3{
        font-family: 'Quicksand Variable', sans-serif;
        font-weight: 700;
        font-size: 24pt;
        margin-bottom: 5rem;
    }

    .containerInfo{
        display: flex;
        width: 100%;
    
        article{
            display: flex;
            align-items: start;
            flex-direction: column;
            width: 70%;

            .aboutMeText{
                display: flex;
                gap: 5%;

                div{
                    margin-top: 1.3rem;
                    p{
                        font-family: 'Quicksand Variable', sans-serif;
                        font-weight: 500;
                        font-size: 16pt;
                        line-height: 2rem;
                        color: $secondary;
                        margin-bottom: 1.4rem;
                        span{
                            color:$purple-text
                        }
                    }

                    .button{
                        color: $primary;
                        font-size: 12pt;
                        font-weight: 500;
                        padding: 15px;
                        background-color: $purple-soft-text;
                        border: none;
                        border-radius: 20px;
                        width: 30%;
                        margin-bottom: 5rem;
                        cursor: pointer;
                        transition: all ease 0.3s;
                
                        &:hover{
                            background-color: $purple-text;
                        }
                    }
                }
            }
        }

        .aboutMeImage{
            display: flex;
            align-self: flex-end;
        }
    }
}