@import "../../theme/theme.scss";


.container {
    display: flex;
    flex-direction: column;
    background-color: $primary;
    height: 100dvh;
    width: 100dvw;

    .contentBox{
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
        background: radial-gradient(circle at bottom center, #bebcf8 35%, #c4d1ff 45%, white 60%, transparent 100%);

        .titleBox{
            display: flex;
            width: 80%;
            align-items: center;
            justify-content: center;

            h1{
                font-size: 2.5rem;
                text-align: center;
                line-height: 3.2rem;
                span{
                    color: $purple-text;
                }

                @media (max-width:620px){
                    font-size: 2rem;
                    font-weight: 400;
                }
            }

            @media (max-width:620px){
                width: 90%;
            }
        }

        .imageBox {
            display: flex;
            margin-top: auto;
            height: 100%;

            .perfil {
              object-fit: contain;
              align-self: flex-end;
            }
          }

        @media (max-width:620px){S

            .titleBox{
                font-size: 2rem;
            }
        }

    }
}